!!! 5
%html
  %head
    %title Wallpapers
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body

    %nav
      %h1 Wallpapers

    %header

    %section
      %article= yield

    = javascript_include_tag 'application'
    = yield(:javascript)